/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/libpossum/Makefile.in
/ltmain.sh
/missing
/config.log
/config.status
/Makefile
/libpossum/.deps/
/libpossum/Makefile
/libpossum/config.h
/libpossum/config.h.in
/libpossum/stamp-h1
/libtool
